*{
    margin:0;
    padding:0;
}

/* estilos header */
.header-container {
    color:aliceblue;
    background-color: rgb(19, 119, 119);
    padding:20px 0;

    /*habilitamos los poderes de flexbox*/
    display: flex;

    /*alinear horizontalmente los elementos*/
    justify-content: center;
}

.header {
    border: 1px solid white;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/*flexbox*/
/*flex container / felx items*/

/* Fin estilos header */

/* estilos para la seccion productos */

.section-container{
    color: blue;
    background-color: rgb(99, 185, 243);
    display: flex;
    justify-content: center;

}

.section {
    width: 60%;
    height: 300px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.photo-grid-container{
    display: flex;
    justify-content: center;
}

.photo-grid{
    width: 60%;
    display: flex;
    justify-content: center;
    /*flex-wrap no desborda ningun elemento del body*/
    flex-wrap:wrap;

    /*flex-direction-columnas-filas-row*/
    flex-direction: row;
}

.img{
    width: 100%;
}

.first-item{
    /*order*/
    order: 1;
}

.last-item{
    order: -1;
}


